.kv{
    background:url("../images/p7_kv_bg.jpg") no-repeat center;
}

.breadcrumb{
    font-size:14px;
}
.product .kv{
    background-size:cover;
}
.breadcrumb a{
    color:#666;
}

body{
    background-image:url("../images/bg_wood.jpg");
}

.box img{
    width:414px;
}

.product{
    position:relative;
}
.product .kv{
    height:600px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow: hidden;
}

.title img{
    width:414px;
}

.product .kv video{
    width:100%;
}

video{
    object-fit: contain;
}
.product .breadcrumb{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-500px;
}

.img-2{
    width:200px;
    margin-left:100px;
}

.breadcrumb{
    display:flex;
    width:1000px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    margin:35px auto 50px;

}

.product .kv .box{
    position:absolute;
    padding:0;
    bottom:15%;
}

.product .kv .box{
    color:#fff;
    text-align: center;
    /*background-size:cover;
    background-repeat: no-repeat;
    background-position: center;*/
    z-index:1;
}

.product .kv .box>img{
    max-width:90%;
    margin:0 auto;
}

.product .kv .box p{
    margin-top:15px;
    font-weight:bold;
    letter-spacing:1px;
}

.product .kv .box .btn-box{
    margin-top:20px;
}

.product .kv .box .btn-box img{
    width:296px;
    margin:0 auto;
}

.box .godown-box{
    width:60px;
    margin:0 auto;
    margin-top:-5px;

}

.box .godown-box span,.box-list ul li .title-h3,.section5 a{
    font-size:18px;
}

.box .godown-box .godown{
    width:60px;
    height:60px;
    background:#fff;
    border-radius:50%;
    margin-top:10px;
    position:relative;
}

.box .godown-box .godown::after{
    content:"";
    display:block;
    border-width:15px 10px 0 10px;
    border-style:solid;
    border-color:#f00 transparent transparent transparent;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-7px;
    margin-left:-10px;
}

.sec-kv{
    background-repeat:no-repeat;
    background-position:bottom center;
    
}

.sec-kv .f-box{
    width:900px;
    max-width: 90%;
    border-radius:10px;
    box-sizing:border-box;
    margin:0 auto;
    position:relative;
    margin-bottom:50px;
    background:#fff;
    padding:30px 50px;

}
.sec-kv .f-box .img img{
    max-width:100%;
}

.sec-kv .f-box{
    margin-top:50px;
}

.sec-kv .f-box>div{
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.sec-kv .f-box>div .text{
    width:370px;
    max-width: 100%;
}

.section{
    padding:60px 0;
    padding-bottom:0;
}

.sec-kv .f-box>div{
    box-sizing: border-box;
    width:100%;
    border-radius:10px;
}

.title-h2, .title-h3{
    font-family:SimSun, "宋体", STSong;
    font-weight:bold;
}

.title-h3, .title-circle, .pin{
    font-size:24px;
}

.pop .box .title, .title-h2{
    font-size:38px;
    line-height:1.2;
}

.p-16, form input, form textarea, .submit, .btn-more-s, .header .menu, .sp-header ul li a, .footer .btn-box .btn-more, .map-box a, .copyright{
    font-size:16px;
}

.p-16{
    line-height:1.8;
    color:#666;
}
.title-h2{
    color:#793822;
    margin-top:10px;
}

.text .p-16{
    margin-top:10px;
}

.f-box .hint-box{
    position:absolute;
    right:30px;
    bottom:-80px;
    transition:1s;
}

.f-box .hint-box .checkme{
    width:78px;
    position:absolute;
    bottom:85px;
    right:-60px;
}
.f-box .hint-box .hit{
    width:100px;;
}

.f-box .hint-box:hover{
    bottom:-20px;
}

.section .title img{
    margin:0 auto;
}

.section1 .box-list,.section2 .box-list{
    width:960px;
    margin:0 auto;
    position:relative;
    z-index:2;
}

.section1 .box-list ul,.section2 .box-list ul{
    display:inline-block;
    
}

.section1 .box-list ul>li,.section2 .box-list ul>li{
    display:inline-block;
    text-align:center;
    padding:30px 10px;
    margin-right:25px;
    
}

.section1 .box-list ul>li img,.section2 .box-list ul>li img{
    width:185px;
    margin-bottom:20px;
}

.brown{
    color:#793822;
}

.section1 .box-list ul>li p,.section2 .box-list ul>li p{
    margin-bottom:20px;
}

.btn-more-s{
    background-color: #e70012;
    border:1px solid #e70012;
    color:#fff;
    letter-spacing:3px;
    cursor:pointer;
    width:145px;
    height:50px;
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:1;
    margin:0 auto;
    text-align: center;
}
.text .btn-more{
    width:326px;
    max-width:100%;
    height:58px;
    line-height:58px;
    background:#e70012;
    border:1px solid #e70012;
    color:#fff;
    text-align:center;
    letter-spacing:1.5px;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding:0 50px;
    justify-content: space-between;
    position:relative;
    z-index:1;
    cursor:pointer;
    margin-top:30px;
}
.text .btn-more{

    font-size:20px;
    text-align: center；
}


.btn-more .arrow span{
    display:block;
    width:67px;
    height:1px;
    background-color:#fff;
    position:relative;
    transition:width 0.6s;
}

.btn-more:hover .arrow span{
    width:100px;
    background-color:#e70012;
}

.text  .btn-more:hover .arrow span::before{
    border-top:1px solid #e70012;
    border-right:1px solid #e70012;
}

.text  .btn-more:hover {
    background-color:#fff;
    color:#e70012;
}

.btn-more .arrow{
    width:67px;
}

.btn-more .arrow span::before{
    content:"";
    width:10px;
    height:10px;
    position:absolute;
    top:50%;
    right:0;
    transform:rotate(45deg);
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    transform-origin: right top;
    box-sizing: border-box;
}



.btn-more-s:hover{
    color:#f00;
    background:#fff;
}

.section1 .box-list ul li .btn-more-s:hover>span,.section2 .box-list ul li .btn-more-s:hover>span{
    width:50px;
    margin-right:-20px;
    background:#e70012;
}

.section1 .box-list ul li .btn-more-s:hover>span::after,
.section2 .box-list ul li .btn-more-s:hover>span::after{
    border-color:#e70012;
}

.section1 .box-list ul li a span,.section2 .box-list ul li a span{
    margin-left:10px;
    height:1px;
    width:30px;
    background:#fff;
    position:relative;
    transition: 1s linear;
    z-index:1;
}

.section1 .box-list ul li a span::after,.section2 .box-list ul li a span::after{
    content:"";
    display:block;
    width:10px;
    height:10px;
    border-top:1px solid;
    border-right:1px solid;
    border-color:#fff;
    transform: rotate(45deg);
    position:absolute;
    top:50%;
    margin-top:-6px;
    right:0;
    transition: 1s linear;
}

.section.section1{
    padding-top:0px;
}